/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

#closeModal {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #cccccc;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Estilos para el enlace de navegación */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #005f86;
}